.row-resizer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  cursor: row-resize;
  z-index: calc(var(--z-header) + 1);
}

.row-resizer:hover,
.row-resizer.dragging {
  background: var(--color-selection-border);
}
