.row-resizer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 6px;
  cursor: row-resize;
  z-index: calc(var(--z-header) + 1);
  background: transparent;
}

.row-resizer::after {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: background 0.1s;
}

.row-resizer:hover::after,
.row-resizer.dragging::after {
  background: var(--color-selection-border);
}
